.Create-page {
  padding-top: 100px;
}

textarea {
  padding-top: 10px;
  max-width: 700px;
  min-width: 495px;
  min-height: 100px;
  max-height: 400px;
  width: auto;
}

.Form-double-label-div {
  display: flex;
  justify-content: space-between;
}

.Form-double-label-div a {
  text-decoration: underline;
  color: #11324d;
  font-size: medium;
}

.Form-double-label-div a:hover {
  cursor: pointer;
  color: #697885;
}
