.Requests-page {
  font-size: large;
}

.Requests-page .Item-Row {
  text-align: left;
  padding-left: 20px;
  max-width: 470px;
}

.Requests-page .Item-Row:hover {
  cursor: pointer;
}

.Description-header {
  margin-top: 10px;
  margin-bottom: 5px;
  text-align: center;
  font-weight: bolder;
  border-top-style: solid;
  border-top-width: 1px;
  border-top-color: gray;
  padding-top: 10px;
}

.Request-page-header {
  text-align: left;
  font-weight: bold;
  margin-bottom: 20px;
  padding-top: 20px;
}
