.App {
  text-align: center;
  font-size: calc(10px + 2vmin);
  color: white;
  font-family: "Roboto", sans-serif;
  font-weight: lighter;
  height: 100%;
}

.App-header {
  display: flex;
  justify-content: center;
  padding-top: 10px;
  flex-wrap: wrap;
  background-color: #11324d;
  padding-bottom: 10px;
  position: fixed;
  width: 100%;
  top: 0;
}

.App-header > * {
  flex: 1;
  padding-left: 40px;
  padding-right: 40px;
  flex-grow: 2;
}

h1 {
  font-family: "Lora", serif;
  font-weight: lighter;
  padding-bottom: 10px;
}

.Title {
  font-size: 15px;
  text-align: left;
  font-family: "Cinzel", serif;
  font-weight: 700;
  cursor: pointer;
  text-decoration: none;
  color: white;
}

#Header-button-div {
  padding-top: 10px;
  margin-bottom: 10px;
  display: flex;
  direction: rtl;
  flex-grow: 1;
}

button {
  padding: 10px;
  height: 50px;
  color: white;
  background-color: inherit;
  border-radius: 5px;
  font-family: "Lato", sans-serif;
}

button:hover {
  background-color: #6b7aa1;
  cursor: pointer;
}

main {
  background-color: #e7e0c9;
  width: 100%;
  display: flex;
  flex-direction: column;
  height: 100%;
}

#main-search-div {
  padding-top: 150px;
  padding-bottom: 30px;
  background-color: #11324d;
}

#input-row input[type="text"] {
  height: 50px;
  width: 80%;
  max-width: 700px;
  font-size: larger;
  border-radius: 50px;
  padding: 10px;
  padding-left: 20px;
  font-family: "Lato", sans-serif;
}

#input-row {
  display: flex;
  justify-content: center;
}

#input-row button {
  border: none;
  height: max-content;
}

#input-row img {
  max-height: 70px;
  padding-left: 15px;
}

#input-row img:hover {
  cursor: pointer;
  opacity: 60%;
}

#main-search-result-filter {
  display: flex;
  max-width: 1200px;
  justify-content: center;
  align-self: center;
  padding-top: 20px;
  flex-direction: column;
}

#result-div {
  max-width: 1200px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px 20px;
  justify-content: center;
  align-self: center;
}

#filter-div {
  max-width: 1200px;
  color: black;
  height: fit-content;
  align-self: center;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  justify-content: space-evenly;
  align-items: baseline;
  margin: 10px;
}

#filter-div h3 {
  margin: 0px;
  font-size: large;
  padding: 10px 20px 10px 20px;
}

#filter-div div {
  display: flex;
  margin: 10px;
}

select {
  background-color: white;
  border-radius: 20px;
  padding-left: 10px;
  max-height: 40px;
}

.Brand-card {
  flex-shrink: 2;
  background-color: white;
  color: black;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  padding: 10px 10px 20px 10px;
  height: fit-content;
  font-size: large;
  width: 200px;
  border-radius: 5px;
}

.Brand-card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.Brand-card h2 {
  font-family: "Lora", serif;
  font-weight: lighter;
  margin: 0px;
}

.Brand-name {
  display: flex;
  height: 4.5em;
  align-items: center;
  justify-content: center;
}

.Brand-card h3 {
  font-weight: lighter;
  font-size: medium;
  margin: 0;
  margin-bottom: 10px;
}

.Brand-card {
  font-size: medium;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
}

.modal-main {
  position: fixed;
  background: white;
  width: 80%;
  height: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: black;
  padding: 0px 15px 0px 15px;
  border-radius: 5px;
}

.modal-main h1 {
  margin: 0;
}

.modal-main p {
  font-size: large;
}

.display-block {
  display: block;
}

.display-none {
  display: none;
}

.Modal-header {
  display: flex;
  justify-content: space-between;
  font-family: "Lora", serif;
}

.Modal-header button {
  background-color: rgb(139, 38, 38);
  width: 50px;
  height: auto;
  height: 50px;
  border-radius: 100%;
  border: none;
  font-weight: bold;
  font-size: large;
  margin-top: 15px;
}

.Modal-header button:hover {
  background-color: rgb(93, 23, 23);
  text-decoration: none;
  cursor: pointer;
}

#body {
  background-color: #50441e;
}

.stars {
  font-size: xx-large;
}

.Brand-categories {
  display: flex;
  justify-content: space-evenly;
  height: 1.5em;
  align-items: center;
}

.Company-content {
  text-align: left;
  font-size: medium;
  display: flex;
  justify-content: space-around;
  gap: 15px;
  margin: 15px;
  margin-bottom: 20px;
}

.Company-content h3 {
  text-align: center;
}

.Company-content .stars {
  font-size: x-large;
  padding-bottom: 5px;
}

.New-brand-form {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  text-align: left;
  font-size: large;
  row-gap: 10px;
  justify-content: space-between;
  width: 300px;
  margin-left: auto;
  margin-right: auto;
}

.New-brand-form input[type="text"],
.New-brand-form select,
.New-brand-form textarea {
  width: 100%;
  border-radius: 5px;
  height: 50px;
  font-size: large;
  padding-left: 10px;
  font-family: "Roboto", sans-serif;
  font-weight: lighter;
  color: gray;
  border-style: solid;
}

textarea {
  padding-top: 10px;
}

.New-brand-form input[type="text"] {
  display: flex;
  flex-wrap: wrap;
}

.New-brand-form select {
  width: 105%;
}

.New-brand-form input[type="submit"] {
  margin-top: 20px;
  height: 40px;
  margin-bottom: 50px;
  cursor: pointer;
  background-color: #11324d;
  color: white;
  border-radius: 5px;
}

.New-brand-form input[type="submit"]:hover {
  background-color: #3d6485;
}

.Brand-buttons {
  display: flex;
  gap: 10px;
}

.Brand-buttons button {
  background-color: #3d6485;
}

.Brand-buttons button:hover {
  background-color: #172b3b;
}

@media screen and (max-width: 550px) {
  .App-header > div {
    flex-grow: 1;
    padding-right: 10px;
  }

  #Header-button-div {
    padding-right: 40px;
  }

  .Brand-card {
    width: 100%;
  }

  .Company-content {
    flex-direction: column;
    justify-content: center;
  }
}
