.Back-button {
  background-color: #11324d;
  font-size: 30px;
  height: 50px;
  width: 120px;
  margin: 30px 20px 0px 20px;
  padding: 0px;
  padding-bottom: 5px;
  text-align: center;
  display: none;
}

.Generic-page {
  padding-top: 100px;
  display: flex;
}

.Generic-page > div {
  width: 100%;
}

.Generic-content-div {
  flex: 500%;
  max-width: 1000px;
  border-radius: 5px;
  margin: 40px;
}

.Generic-content {
  background-color: white;
  color: black;
  padding: 50px 50px 30px 50px;
  width: fit-content;
  min-width: 500px;
  margin: auto;
  border-radius: 5px;
}

.New-brand-form h1 {
  min-width: 500px;
  text-align: center;
}

.New-brand-form {
  width: 100%;
}

.Server-error,
.Validation-error {
  color: red;
}

.Server-error {
  margin-top: 10px;
  text-align: center;
}

.Success-message {
  margin-top: 10px;
  color: green;
  text-align: center;
}

@media screen and (max-width: 790px) {
  .Back-button {
    display: none;
  }
}
